* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.serif {
  font-family: "Libre Baskerville", "Palatino Linotype", "Palatino", serif;
  font-style: italic;
  letter-spacing: 0.06rem; }

body, .page-header h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal; }

.error h1 span {
  font-family: 'Consolas', 'Monaco', 'Courier New', 'Courier', monospace; }

.page-header h1 {
  cursor: default; }

.btn {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

[id^=page] {
  -webkit-transform: translateZ(0) translate3D(0, 0, 0);
  -moz-transform: translateZ(0) translate3D(0, 0, 0);
  -o-transform: translateZ(0) translate3D(0, 0, 0);
  -ms-transform: translateZ(0) translate3D(0, 0, 0);
  transform: translateZ(0) translate3D(0, 0, 0); }

[id^=page] {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

[id^=page], #pages-container {
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease; }

#pages-container.no-scroll {
  -webkit-transition: none;
  -moz-transition: none;
  transition: none; }

html, body {
  height: 100%; }

html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll; }
  @media screen and (max-width: 40em) {
    html {
      font-size: 62.5%; } }
  @media screen and (min-width: 40.063em) {
    html {
      font-size: 72%; } }
  @media screen and (min-width: 64.063em) {
    html {
      font-size: 80%; } }
  @media screen and (min-width: 90.063em) {
    html {
      font-size: 100%; } }
  @media screen and (min-width: 120.063em) {
    html {
      font-size: 120%; } }

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  color: #333333;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  body ::selection {
    background: #f16322;
    /* Safari */
    color: #fff; }
  body ::-moz-selection {
    background: #f16322;
    /* Firefox */
    color: #fff; }

a {
  color: #a33a0a;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; }

.no-transitions * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  transition: none !important; }

.hidden {
  visibility: hidden;
  opacity: 0; }

[id^=page] {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  min-height: 40rem;
  background: #fff; }
  [id^=page].is-hidden {
    opacity: 0;
    z-index: 0;
    height: 0;
    position: fixed !important; }
  [id^=page].is-visible {
    opacity: 1;
    z-index: 1; }

#pages-container {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  z-index: 0; }
  #pages-container:after {
    content: "";
    display: table;
    clear: both; }
  #pages-container.no-scroll {
    height: 100% !important;
    overflow: hidden; }

.page-header {
  position: relative;
  float: left;
  width: 100%;
  margin: 0;
  padding-top: 7rem; }
  .page-header:after {
    content: "";
    display: table;
    clear: both; }
  .page-header h1 {
    padding: 0;
    margin: 0 0 0 -.4rem;
    font-weight: 900;
    line-height: .8;
    letter-spacing: -0.1rem; }
  .page-header p {
    width: 82%;
    font-size: 2.1rem; }
  .page-header .btn {
    width: 100%;
    max-width: 30rem; }

.wrapper {
  max-width: 105rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 90%; }
  .wrapper:after {
    content: "";
    display: table;
    clear: both; }

.row {
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: -2px;
  background-color: #fff; }

.block {
  position: relative;
  float: left;
  width: 100%;
  margin: auto;
  overflow: hidden; }

.block--img {
  padding: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #fff;
  overflow: hidden; }
  .block--img a {
    background-size: 2px 2px;
    background-position: 0 1.6rem;
    background-repeat: repeat-x;
    background-color: rgba(255, 255, 255, 0);
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.4) 50%);
    background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.4) 50%);
    color: #fff; }
    .block--img a:hover {
      background-color: rgba(255, 255, 255, 0);
      background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.2) 50%);
      background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.2) 50%); }

.block--img__img {
  position: absolute;
  top: 0;
  left: -1%;
  width: 102%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.block--quote {
  padding: 11rem 0; }

.block--tall:before {
  content: '';
  display: block;
  padding-top: 100%; }
@media screen and (min-width: 40.063em) {
  .block--tall {
    width: 50%; } }

.block--wide {
  height: 30rem;
  width: 100%;
  background-position: center right; }
  @media screen and (min-width: 64.063em) {
    .block--wide {
      height: 46rem; } }

.btn {
  display: inline-block;
  margin-bottom: 0;
  padding: 1rem 0;
  border-radius: .56rem;
  border-width: .26rem;
  border-style: solid;
  background-image: none;
  vertical-align: middle;
  cursor: pointer;
  font-weight: 900;
  font-size: 2rem;
  text-align: center;
  white-space: nowrap;
  background-image: none !important; }

.btn--white {
  color: #fff;
  border-color: rgba(255, 255, 255, 0.99); }
  .btn--white:hover {
    border-color: rgba(255, 255, 255, 0.7); }
  .btn--white:active {
    border-color: rgba(255, 255, 255, 0.5); }

.btn--black {
  color: #333333;
  border-color: #333333; }
  .btn--black:hover {
    border-color: rgba(51, 51, 51, 0.7); }
  .btn--black:active {
    border-color: rgba(51, 51, 51, 0.5); }

.btn--green {
  color: #fff;
  border-color: green;
  background: green; }

.error .page-header--subpage {
  height: 40rem;
  margin: 0;
  padding: 0; }
.error h1 {
  margin-left: 0; }
.error h1 span {
  font-weight: 100;
  color: #aaa;
  display: inline-block; }

.logo {
  margin-bottom: 2rem;
  float: left;
  width: 100%; }
  .logo img {
    width: 100%; }

table {
  width: 100%; }

.btn {
  width: 100%; }

table {
  margin: 2rem 0; }
  table td, table th {
    padding: 1rem;
    border: 1px solid #888; }
